<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <title>{% block title %}QA Admin{% endblock %}</title>
    <meta charset="utf-8">
    <script src="/static/js/opensource/jquery.min.js"></script>
    <script src="/static/js/opensource/vue.js"></script>
    <script type="text/javascript" async="" src="/static/js/opensource/ga.js"></script>
    <script src="/static/js/opensource/travis-check-browser-support.js" async=""></script>
    <script src="/static/js/opensource/vue-timeago.min.js"></script>
    {% block script %}
        {{script}}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/opensource/travis-fonts.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/all.css">
    <link rel="stylesheet" href="/static/css/travis.css">
    <link rel="stylesheet" href="/static/css/qaadmin.css">
</head>
<body class="modal-open">

<div class="wrapper">
    <!--导航栏-->
    <header class="top">
        <div class="topbar">
            <h1 class="logo">
                <a href="/">QA Admin</a>
            </h1>
            <div class="broadcast">
                <a href="https://github.com/intest-tech/qaadmin">
                    <i class="fab fa-github" title="Get github source code" style="font-size: 20px; line-height:2.9;"></i>
                </a>
            </div>
            <nav id="navigation" class="navigation ">
                <ul>
                    <li>
                        <a title="QA Admin Documentation" href="https://github.com/intest-tech/qaadmin/blob/master/README.md" class="navigation-anchor">Documentation</a>
                    </li>
                    <li id="profile-menu-link" class="profile menu signed-in">
                        <!--<a href="/profile/ityoung" class="navigation-anchor navigation-profile-link signed-in">-->
                        <a class="navigation-anchor navigation-profile-link signed-in">
                            <span class="avatar-wrapper">
                                <span class="avatar">
                                    <img class="real-avatar" src="/static/qa.jpg">
                                </span>
                            </span>
                            <i class="fal fa-chevron-down"></i>
                        </a>
                        <div class="menu-separator"></div>
                        <ul class="navigation-user">
                            <li class="username"><span>Administrator</span></li>
                            <!--<a title="Your profile" href="/profile/ityoung">-->
                            <a title="Your profile">
                                <li>
                                    <i class="fal fa-cog"></i>
                                    Settings
                                </li>
                            </a>
                            <div class="nav-nested"></div>
                            <div class="nav-nested"></div>
                            <a href="/logout" title="Sign out of QA Admin">
                                <li>
                                    <i class="fal fa-sign-out-alt"></i>
                                    Sign Out
                                </li>
                            </a>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
        {{ content }}
    {% endblock %}

    {% raw %}
    <!--侧边栏-->
    <aside id="left">
        <div class="dupa">
            <div class="search search--sidebar">
                <div class="search-inner">
                    <input placeholder="Search all repositories" id="travis-search"
                           class="ember-text-field" type="text">
                    <label for="travis-search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" class="icon">
                            <g fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round"
                               stroke-miterlimit="10">
                                <circle cx="6.055" cy="5.805" r="5.305"></circle>
                                <path d="M9.847 9.727l4.166 4.773"></path>
                            </g>
                        </svg>
                    </label>
                </div>
            </div>

            <nav id="repository-nav" class="qaadmin-nav">
                <ul>
                    <li id="tab_owned" class="active display-inline">
                        <a href="#">测试项目</a>
                    </li>
                    <li id="tab_new" class="display-inline">
                        <a title="新增项目" href="/project/create">
                            <span class="icon icon--plus"></span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="qaadmin-body sidebar-list">
                <ul class="project-list">
                    <!--项目列表-->
                    <li class="project-item" v-for="x in list">
                        <div :class="'tile '+x.status">
                            <h2 :class="'tile-title '+x.status">
                                <a :href="'/project/'+x.project" class="active">
                                    <span class="label-align inner-underline">
                                        <i class="fal fa-circle" style="font-size: 13px; width: 14px; " v-if="!x.has_record"></i>
                                        <i class="fal fa-check" style="font-size: 14px;" v-else-if="x.success"></i>
                                        <i class="fal fa-times" style="font-size: 14px; width: 14px; padding-left: 1px;" v-else></i>
                                        {{x.project}}
                                    </span>
                                </a>
                            </h2>
                            <!--<p :class="'tile-title float-right '+x.status" v-if="x.has_record">-->
                                <!--<a :href="'/project/'+x.project+'/job/'">-->
                                    <!--<span class="label-align inner-underline">-->
                                        <!--<i class="fal fa-hashtag"></i>-->
                                        <!--9-->
                                    <!--</span>-->
                                <!--</a>-->
                            <!--</p>-->
                            <p>
                                <span class="label-align">
                                    <i class="fal fa-alarm-clock icon-info"></i>
                                    Duration:
                                    <time class="duration" datetime="PT35S" title="Started September 20, 2018 22:13:27" v-if="x.has_record">35 sec</time>
                                    <a v-else>-</a>
                                </span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    {% endraw %}

</div>
</body>

<script>

$(function(){
    $.get('/api/test-result/latest',function(res){
        if(!res){return alert('异常')}
        res.data.map(function(item, index){
                if(!item.has_record){
                    item.status=""
                } else if(item.success){
                    item.status="passed"
                } else {
                    item.status="errored"
                }
            }
        )
        sidebarApp.list=res.data
    })
});
var sidebarApp=new Vue({
data:{
    list:[]
}});
sidebarApp.$mount('.project-list')

{% block sctipt %}
    {{ script }}
{% endblock %}
</script>
</html>