{% extends "base.html" %}

<body>

{% block content %}
<div class="wrapper-main">
    <div class="create-project-header">
        新建项目
    </div>
    <div class="content">
        <form method="post" action="/api/project/create">
            <div class="box">
                <label>项目名：</label>
                <input type="text" name="name"/>
            </div>
            <div class="box">
                <label>描　述：</label>
                <input type="text" name="detail"/>
            </div>
            <div class="box">
                <button id="cancel_button" type="button" onclick="javascript:history.back(-1);">取消</button>
                <button id="submit_button" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

</body>

