<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    position:absolute;
    bottom:0px;
    width: 100%;
}


</style>
<div id="header">
    <h1>QA Admin</h1>
</div>

<div id="nav">
    <a href="/project/list">项目列表</a><br>
    <a href="/data/list">测试结果</a><br>
</div>

<div id="section">
    <h1>{{ escape(project) }}项目测试结果</h1>
    <p>
    <table border="1">
  <tr>
    <th>id</th>
    <th>version</th>
    <th>time</th>
    <th>status</th>
  </tr>
        {% for item in data_list %}
  <tr>
    <td>January</td>
    <td>{{ escape(item['pro_version']) }}</td>
    <td>1234</td>
    <td>{% if item['was_successful'] %}green{% else %}red{% end %}</td>
  </tr>
    {% end %}
</table>
    </p>
</div>

<div id="footer">
    Copyright W3School.com.cn
</div>

</body>
</html>

