{% extends "base.html" %}
<head>
    {% block title %}A bolder title{% end %}
</head>
<body>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    position:absolute;
    bottom:0px;
    width: 100%;
}





</style>
<div>
    <p>
        {% block item %}
        {% if project_list %}
        {% for project in project_list %}
        <a href="/project/list?pro_id={{ escape(project['name']) }}">{{ escape(project['name']) }}</a><br>
        {% end %}
        {% elif report %}
        <a href="/data/list?pro_id=5a7fb0cd47de9d5cf3d13a44">{{ escape(report['name']) }}</a><br>
        {% else %}
        <a class="init-project" href="/project/create"> 新建项目 </a>
        {% end %}
        {% end %}
    </p>
</div>


</body>
</html>

