{% extends "base.html" %}

  {% block script %}
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/job.css">
  {% endblock %}

<body>
<div class="wrapper">

  {% block content %}
    {% raw %}
      <!--主面板-->
      <div class="wrapper-main">
    <div id="main" class="main" role="main">
      <div id="ember377" class="ember-view">
        <article class="repo-header">
          <header class="name">
            <div id="ember378"
               class="ember-view ember-tooltip-or-popover-target ember-tooltip-or-popover-element-attached-bottom ember-tooltip-or-popover-element-attached-center ember-tooltip-or-popover-target-attached-top ember-tooltip-or-popover-target-attached-center"
               aria-describedby="ember380" tabindex="0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" alt="Public repository"
                 class="icon public">
                <g fill="none" stroke="#9ea3a8" stroke-linecap="round" stroke-linejoin="round"
                   stroke-miterlimit="10">
                  <path d="M7.089 13.343h6.434L13.524 1H2.176v12.343H4.46M2.176 10.543h11.348"></path>
                  <path d="M4.46 12.239v2.756l1.394-1.285 1.235 1.236v-2.707zM4.199 1v9.543M5.635 8.737h.63M5.635 6.782h.63M5.635 4.828h.63M5.635 2.873h.63"></path>
                </g>
              </svg>


            </div>
            <h1 class="repo-title">
              <a href="/intest-tech" id="ember381" class="ember-view">intest-tech</a> / <a
                href="/intest-tech/qaadmin" id="ember382" class="active ember-view">qaadmin</a>
            </h1>
          </header>
          <main class="repo-main">
            <div class="repo-navigation">
              <nav id="testtype_nav" class="qaadmin-nav ">
                <ul>
                  <li id="tab_current" class="active">
                    <a href="/intest-tech/qaadmin" id="ember386" class="active">
                      Current
                    </a></li>
                  <li id="tab_branches">
                    <a href="/intest-tech/qaadmin/branches" id="ember387"
                       class="ember-view"> Branches
                    </a></li>
                  <li id="tab_builds">
                    <a href="/intest-tech/qaadmin/builds" id="ember388" class="ember-view">
                      Build History
                    </a></li>
                  <li id="tab_pull_requests">
                    <a href="/intest-tech/qaadmin/pull_requests" id="ember389"
                       class="ember-view"> Pull Requests
                    </a></li>
                  <li id="tab_build" class="">
                    <svg viewBox="0 0 15 15" class="tab-arrow">
                      <path fill="none" stroke="#9d9d9d"
                          d="M4.32.5l6.247 6.942L4.32 14.5"></path>
                    </svg>
                    <a href="/intest-tech/qaadmin/builds/431048533" id="ember390"
                       class="ember-view"> Build #9
                    </a></li>
                  <li id="tab_job">
                    <a href="/intest-tech/qaadmin/jobs/431048534" id="ember391"
                       class="ember-view"> Job #9.1
                    </a></li>
                  <li id="tab_settings">
                    <a href="/intest-tech/qaadmin/settings" id="ember392"
                       class="ember-view"> Settings
                    </a></li>
                  <li id="tab_requests">
                    <a href="/intest-tech/qaadmin/requests" id="ember393"
                       class="ember-view"> Requests
                    </a></li>
                  <li id="tab_caches">
                    <a href="/intest-tech/qaadmin/caches" id="ember394" class="ember-view">
                      Caches
                    </a></li>
                </ul>
              </nav>
              <nav id="ember395" class="option-button ember-view">
                <button class="option-display" title="Show more options" type="button">
                  <span class="label-align">More options</span>
                  <span class="option-tofu"><svg xmlns="http://www.w3.org/2000/svg"
                                   viewBox="-503.7 379.2 17 10"
                                   class="icon-tofu"><path
                      d="M-487.3 380.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6zm0 4.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6zm0 4.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6z"></path></svg></span>
                </button>
                <ul class="option-dropdown">
                  <li>
                    <a href="/intest-tech/qaadmin/settings" id="ember396"
                       class="ember-view">Settings</a>
                  </li>
                  <li>
                    <a href="/intest-tech/qaadmin/requests" id="ember397"
                       class="ember-view">Requests</a>
                  </li>
                  <li>
                    <a href="/intest-tech/qaadmin/caches" id="ember398"
                       class="ember-view">Caches</a>
                  </li>
                  <li>
                    <button class="trigger-build-anchor" type="button" data-ember-action=""
                        data-ember-action-399="399">Trigger build
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="travistab-body repo-body">
              <div id="ember400" class="ember-view">
                <div id="ember401" class="green ember-view">
                  <section data-job-id="431048534" id="ember402"
                       class="build-header passed ember-view">
                    <div class="build-commit">
                      <h2 class="build-title passed">
  <span title="Job passed" aria-label="Job passed" id="ember403" class="status-icon icon passed ember-view">  <svg
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M14.5 1.5L6.499 13.716.5 8.78"></path></svg>
  </span>
                        <small class="commit-branch" title="master">master</small>
                        update: click test result will show traceback; grid need more
                        adjustment.
                      </h2>
                      <div class="commit-info">

                        <!---->
                        <ul class="list-icon">
                          <li>
                            <a rel="noopener noreferrer" target="_blank"
                               href="https://github.com/intest-tech/qaadmin/commit/b4e233519ea1c70199ccc1d522ede0e3e4556b04"
                               id="ember404" class="ember-view">      <!---->

                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <circle cx="8.51" cy="8.5" r="3.5" fill="none"
                                    stroke="#9d9d9d" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></circle>
                                <path d="M16.5 8.5h-4.49m-7 0H.5" fill="none"
                                    stroke="#9d9d9d" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                              </svg>
                              <span class="label-align inner-underline commit-commit">Commit b4e2335</span>
                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <path d="M11.34 10.96v1.1c0 .55-.45 1-1 1H4.83c-.55 0-1-.45-1-1V6.55c0-.55.41-1 .91-1h.91m1.24 4.34l5.92-5.93m-3.9-.02h3.92v3.92"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                              </svg>

                            </a></li>
                          <li>
                            <a rel="noopener noreferrer" target="_blank"
                               href="https://github.com/intest-tech/qaadmin/compare/325a64dec7d3...b4e233519ea1"
                               id="ember406"
                               class="ember-view ember-tooltip-or-popover-target ember-tooltip-or-popover-element-attached-bottom ember-tooltip-or-popover-element-attached-center ember-tooltip-or-popover-target-attached-top ember-tooltip-or-popover-target-attached-center"
                               aria-describedby="ember438" tabindex="0">

                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <circle cx="3.8" cy="3.2" r="1.7" fill="none"
                                    stroke="#9d9d9d" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></circle>
                                <path d="M6.75 15.5s1.95-1.95 1.95-1.98H6.3s-2.48.15-2.48-2.46V4.92m2.93 6.64s1.95 1.95 1.95 1.97"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                                <g fill="none" stroke="#9d9d9d"
                                   stroke-linecap="round"
                                   stroke-linejoin="round"
                                   stroke-miterlimit="10">
                                  <circle cx="13.2" cy="13.8"
                                      r="1.7"></circle>
                                  <path d="M10.25 1.5S8.3 3.45 8.3 3.47h2.4s2.48-.15 2.48 2.46v6.14m-2.93-6.63S8.3 3.49 8.3 3.47"></path>
                                </g>
                              </svg>
                              <span class="label-align inner-underline commit-compare">Compare 325a64d..b4e2335</span>
                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <path d="M11.34 10.96v1.1c0 .55-.45 1-1 1H4.83c-.55 0-1-.45-1-1V6.55c0-.55.41-1 .91-1h.91m1.24 4.34l5.92-5.93m-3.9-.02h3.92v3.92"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                              </svg>

                            </a></li>
                          <li>
                            <a rel="noopener noreferrer" target="_blank"
                               href="https://github.com/intest-tech/qaadmin/tree/master"
                               id="ember408" class="commit-branch-url ember-view">

                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <circle cx="4.94" cy="2.83" r="1.83" fill="none"
                                    stroke="#9d9d9d" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></circle>
                                <circle cx="11.78" cy="5.15" r="1.83"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></circle>
                                <circle cx="4.98" cy="14.17" r="1.83"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></circle>
                                <path d="M11.78 6.99s.09 2.68-1.9 3.38c-1.76.62-2.92-.04-4.93 1.97V4.66"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                              </svg>
                              <span class="label-align inner-underline">Branch master</span>
                              <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 17 17" class="icon">
                                <path d="M11.34 10.96v1.1c0 .55-.45 1-1 1H4.83c-.55 0-1-.45-1-1V6.55c0-.55.41-1 .91-1h.91m1.24 4.34l5.92-5.93m-3.9-.02h3.92v3.92"
                                    fill="none" stroke="#9d9d9d"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-miterlimit="10"></path>
                              </svg>

                            </a></li>
                        </ul>

                        <p class="commit-author">
                          <a href="/ityoung" id="ember411" class="ember-view">
                            <!---->

                            <span id="ember413"
                                class="avatar-wrapper ember-view"><span
                                class="avatar--small">
  <span class="pseudo-avatar" aria-hidden="true" data-initials="SY"></span>
  <img class="real-avatar" src="https://avatars0.githubusercontent.com/u/12296804?v=4?v=3&amp;s=18"
     srcset="https://avatars0.githubusercontent.com/u/12296804?v=4?v=3&amp;s=18 1x, https://avatars0.githubusercontent.com/u/12296804?v=4?v=3&amp;s=36 2x"
     alt="Shin Yang avatar">
</span>
                            </span>
                            <span class="label-align inner-underline">Shin Yang</span>
                          </a>
                        </p>
                      </div>
                    </div>

                    <div class="build-info">
                      <h3 class="build-status passed">
                        <a href="/intest-tech/qaadmin/builds/431048533" id="ember414"
                           class="ember-view">      <span
                            title="Triggered by a push" id="ember415"
                            class="push passed ember-view"><svg viewBox="0 0 15 15"
                                              class="passed push request-icon"><title>Push event</title><circle
                            cx="7.505" cy="7.354" r="2.854"></circle><path
                            d="M14.5 7.354h-4.151m-5.698 0H.5"></path></svg>
</span>
                          <span class="inner-underline">#9 passed</span>
                        </a></h3>

                      <ul class="list-icon">
                        <li title="Started September 20, 2018 22:13:27"
                          class="commit-stopwatch">
                          <svg viewBox="0 0 17.5 19.5" class="icon--m">
                            <circle class="st0" cx="7.369" cy="2.173"
                                r="1.583"></circle>
                            <path class="st0"
                                d="M15.356 9.393c-.005.003-.011.001-.014-.004l-1.269-2.407c-.003-.005-.001-.011.004-.013l1.534-.799c.005-.003.011-.001.014.004l1.269 2.407c.003.005.001.011-.004.013l-1.534.799z"></path>
                            <circle class="st0" cx="7.369" cy="12.146"
                                r="6.757"></circle>
                            <path class="st0"
                                d="M6.982 8.256v3.834l2.542 1.708"></path>
                          </svg>
                          <span class="label-align">
      Ran for <time datetime="PT35S">35 sec</time>
    </span>
                        </li>

                        <li title="Finished September 20, 2018 22:14:02"
                          class="commit-calendar">
                          <svg viewBox="0 0 15 15" class="icon">
                            <path class="st0"
                                d="M.861.5H14.22v14H.861zm13.252 4.061H1.182"></path>
                            <path class="st0"
                                d="M4.639 7.913c.178-.166.475-.359.893-.359.734 0 2.093 1.164-.906 3.906h2.297m1.295-3.905h2.425s-1.4 1.693-1.4 3.906"></path>
                          </svg>
                          <time class="label-align"
                              datetime="September 20, 2018 22:14:02">about 15 hours
                            ago
                          </time>
                        </li>
                      </ul>
                    </div>

                    <div class="build-tools">
                      <div id="ember416" class="repo-main-tools ember-view">
                        <div class="action-button-container">
                          <button class="action-button--restart"
                              aria-label="Restart build" type="button"
                              data-ember-action="" data-ember-action-417="417">
                            <!---->
                            <svg viewBox="0 0 15 15" class="icon">
                              <path d="M14.5 5.768l-2.07 2.506M9.549 6.451l2.881 1.823m-.016-.395c0-3.873-2.705-6.379-5.981-6.379a5.933 5.933 0 1 0 4.446 9.861"></path>
                            </svg>
                            <span class="label-align">Restart build</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </section>

                  <div id="ember418" class="ember-view"><!----><!----></div>
                  <div id="ember419" class="ember-view"><!----></div>
                  <div id="ember420" class="travistab ember-view">
                    <nav class="qaadmin-nav">
                      <ul>
                        <li><a title="Look at this job's log"
                             href="/intest-tech/qaadmin/jobs/431048534" id="tab_log"
                             class="ember-view active">结果图表</a></li>
                        <li><a title="查看测试结果图表"
                             href="/intest-tech/qaadmin/jobs/431048534/config" id="tab_config"
                             class="ember-view">运行日志</a></li>
                      </ul>
                    </nav>
                    <div class="travistab-body">

                    </div>
                  </div>
                  <div id="ember421" class="job-log ember-view">
                    <div id="ember432" class="ember-view">
                      <section id="log-container" class="log">
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default" v-for="(x, index) in tracebacks">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   :href="'#collapse'+index">
                                  {{x.test_case}}
                                </a>
                              </h4>
                            </div>
                            <div :id="'collapse'+index" class="panel-collapse collapse">
                              <div class="panel-body">
                                {{x.note}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </article>
      </div>
    </div>
  </div>
    {% endraw %}
  {% endblock %}

</div>
</body>

{% block sctipt %}

$(function(){
  $.get('/api/test-result?id='+app.job_id,function(res){
    if(!res){return alert('异常')}
    app.data=res.data
    app.tracebacks = res.data.details
  })
});

var app=new Vue({
  data:{
    pro_id: '{{ pro_id }}',
    job_id: '{{ job_id }}',
    data: {},
    tracebacks: []
  }
});
app.$mount('.wrapper-main')

{% endblock %}