{% extends "base.html" %}

  {% block script %}
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/project.js"></script>
  <!--<link rel="stylesheet" href="/static/css/travis-bak.css">-->
  <link rel="stylesheet" href="/static/css/job.css">
  {% endblock %}

<body>
{% block content %}
  {% raw %}
    <!--主面板-->
    <div class="wrapper-main">
      <div id="main" class="main" role="main">
      <article class="repo-header">
        <header class="name">
          <div class="ember-tooltip-or-popover-target ember-tooltip-or-popover-target-attached-top ember-tooltip-or-popover-target-attached-center" tabindex="0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" alt="Public repository" class="icon public">
              <g fill="none" stroke="#9ea3a8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                <path d="M7.089 13.343h6.434L13.524 1H2.176v12.343H4.46M2.176 10.543h11.348"></path>
                <path d="M4.46 12.239v2.756l1.394-1.285 1.235 1.236v-2.707zM4.199 1v9.543M5.635 8.737h.63M5.635 6.782h.63M5.635 4.828h.63M5.635 2.873h.63"></path>
              </g>
            </svg>

          </div>
          <h1 class="repo-title">
            <a>[TODO:Group]</a> /
            <a :href="'/project/'+pro_id" class="active">{{pro_id}}</a>
          </h1>
        </header>
        <main class="repo-main">
          <div class="repo-navigation">
            <nav id="testtype_nav" class="qaadmin-nav">
              <ul>
                <li id="tab_current" class="active">
                  <a :href="'/project/gt-server/job/'+job_id" class="active">
                    Current
                  </a></li>
                <li id="tab_branches">
                  <a href="/intest-tech/qaadmin/branches"> Branches
                  </a></li>
                <li id="tab_builds">
                  <a href="/intest-tech/qaadmin/builds">
                    Build History
                  </a></li>
                <li id="tab_pull_requests">
                  <a href="/intest-tech/qaadmin/pull_requests"> Pull Requests</a>
                </li>
              </ul>
            </nav>
            <nav class="option-button">
              <button class="option-display" title="Show more options" type="button">
                <span class="label-align">More options</span>
                <span class="option-tofu">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-503.7 379.2 17 10" class="icon-tofu">
                    <path d="M-487.3 380.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6zm0 4.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6zm0 4.4H-503c-.4 0-.6-.3-.6-.6s.3-.6.6-.6h15.7c.4 0 .6.3.6.6s-.3.6-.6.6z"></path>
                  </svg>
                </span>
              </button>
              <ul class="option-dropdown">
                <li>
                  <a href="/intest-tech/qaadmin/settings">Settings</a>
                </li>
                <li>
                  <a href="/intest-tech/qaadmin/requests">Requests</a>
                </li>
                <li>
                  <a href="/intest-tech/qaadmin/caches">Caches</a>
                </li>
                <li>
                  <button class="trigger-build-anchor" type="button" data-ember-action=""
                      data-ember-action-399="399">Trigger build
                  </button>
                </li>
              </ul>
            </nav>
          </div>
          <div class="travistab-body repo-body">
            <!--job card-->
            <section data-job-id="432817794" :class="'build-header '+status">
              <div class="build-commit">
              <h2 :class="'build-title '+status">
                <span title="Job passed" aria-label="Job passed" class="status-icon icon passed" v-if="data.was_successful">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                    <path d="M14.5 1.5L6.499 13.716.5 8.78"></path>
                  </svg>
                </span>
                <span title="Job failed" aria-label="Job failed" class="status-icon icon failed" v-if="!data.was_successful">
                  <svg viewBox="0 0 15 15">
                    <path d="M.5.5l14 14m0-14l-14 14" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                  </svg>
                </span>
                <small class="commit-branch" title="master">{{data.version}}</small>
                {{status}}
              </h2>
              <div class="commit-info">
                <ul class="list-icon">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" class="icon">
                      <circle cx="4.94" cy="2.83" r="1.83" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                      <circle cx="11.78" cy="5.15" r="1.83" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                      <circle cx="4.98" cy="14.17" r="1.83" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                      <path d="M11.78 6.99s.09 2.68-1.9 3.38c-1.76.62-2.92-.04-4.93 1.97V4.66" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                    </svg>
                    <span class="label-align inner-underline">Total {{data.total}} cases</span>
                  </li>
                  <li title="Started September 24, 2018 19:58:48" class="commit-stopwatch">
                    <svg viewBox="0 0 17.5 19.5" class="icon--m">
                      <circle cx="7.369" cy="2.173" r="1.583" class="st0"></circle>
                      <path d="M15.356 9.393c-.005.003-.011.001-.014-.004l-1.269-2.407c-.003-.005-.001-.011.004-.013l1.534-.799c.005-.003.011-.001.014.004l1.269 2.407c.003.005.001.011-.004.013l-1.534.799z" class="st0"></path>
                      <circle cx="7.369" cy="12.146" r="6.757" class="st0"></circle>
                      <path d="M6.982 8.256v3.834l2.542 1.708" class="st0"></path>
                    </svg>
                    <span class="label-align">
                      Ran for <time datetime="PT53S">{{data.run_time}} sec</time>
                    </span>
                  </li>
                </ul>
                <div class="bar-graph"></div>
              </div>
            </div>

              <div class="build-info">
                <!--bar graph-->
                <ul class="list-icon">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" class="icon">
                      <circle cx="8.51" cy="8.5" r="3.5" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                      <path d="M16.5 8.5h-4.49m-7 0H.5" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                    </svg>
                    <span class="label-align inner-underline commit-commit">Stage {{data.stage}}</span>
                  </li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" class="icon">
                      <circle cx="3.8" cy="3.2" r="1.7" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></circle>
                      <path d="M6.75 15.5s1.95-1.95 1.95-1.98H6.3s-2.48.15-2.48-2.46V4.92m2.93 6.64s1.95 1.95 1.95 1.97" fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                      <g fill="none" stroke="#9d9d9d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                        <circle cx="13.2" cy="13.8" r="1.7"></circle>
                        <path d="M10.25 1.5S8.3 3.45 8.3 3.47h2.4s2.48-.15 2.48 2.46v6.14m-2.93-6.63S8.3 3.49 8.3 3.47"></path>
                      </g>
                    </svg>
                    <span class="label-align inner-underline commit-compare">Tag {{data.tag}}</span>
                  </li>
                  <li title="Finished September 24, 2018 19:59:41" class="commit-calendar">
                    <svg viewBox="0 0 15 15" class="icon">
                      <path d="M.861.5H14.22v14H.861zm13.252 4.061H1.182" class="st0"></path>
                      <path d="M4.639 7.913c.178-.166.475-.359.893-.359.734 0 2.093 1.164-.906 3.906h2.297m1.295-3.905h2.425s-1.4 1.693-1.4 3.906" class="st0"></path>
                    </svg>
                    <time datetime="September 24, 2018 19:59:41" class="label-align">11 minutes ago</time>
                  </li>
                </ul>
              </div>

              <div class="build-tools">
                <div class="repo-main-tools">
                  <div class="action-button-container">
                    <button class="action-button--restart" aria-label="Restart build" type="button" data-ember-action="" data-ember-action-100="100">
                      <svg viewBox="0 0 15 15" class="icon">
                        <path d="M14.5 5.768l-2.07 2.506M9.549 6.451l2.881 1.823m-.016-.395c0-3.873-2.705-6.379-5.981-6.379a5.933 5.933 0 1 0 4.446 9.861"></path>
                      </svg>
                      <span class="label-align">Restart build</span>
                    </button>
                  </div>
                </div>
              </div>
            </section>

            <!--line-->
            <div class="travistab">
              <nav class="qaadmin-nav">
                <ul>
                  <li><a title="Look at this job's log"
                       href="/intest-tech/qaadmin/jobs/431048534" id="tab_log"
                       class="ember-view active">结果图表</a></li>
                  <li><a title="查看测试结果图表"
                       href="/intest-tech/qaadmin/jobs/431048534/config" id="tab_config"
                       class="ember-view">运行日志</a></li>
                </ul>
              </nav>
              <div class="travistab-body">

              </div>
            </div>
            <section id="log-container" class="log">
              <div class="panel-group" id="accordion">
                <div class="panel panel-default" v-for="(x, index) in tracebacks">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                       :href="'#collapse'+index">
                    <h4 class="panel-title">
                      {{x.test_case}}
                    </h4>
                  </div>
                  <div :id="'collapse'+index" class="panel-collapse collapse">
                    <div class="panel-body">
                      <pre>{{x.note}}</pre>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
      </article>
  </div>
</div>
  {% endraw %}
{% endblock %}

</body>

{% block sctipt %}

$(function(){
  $.get('/api/test-result?id='+app.job_id,function(res){
    if(!res){return alert('异常')}
    app.data=res.data
    app.status = res.data.was_successful?"passed":"failed"
    app.tracebacks = res.data.details
    showChart(
      document.querySelector('.bar-graph'),
      [app.data.success || '-',
      app.data.failures || '-',
      app.data.errors || '-',
      app.data.skipped || '-']
    )
  })
});

var app=new Vue({
  data:{
    pro_id: '{{ pro_id }}',
    job_id: '{{ job_id }}',
    data: {},
    status: 'failed',
    tracebacks: []
  }
});
app.$mount('.wrapper-main')

{% endblock %}