{% extends "base.html" %}

<head>
    {% block title %}Project{% endblock %}
</head>

<body>
    <div>
        {% block content %}
        <!--<div id="project-activity" class="page-limited">-->
        <!--<div id="project-activity-page">-->
        <!--<ul id="project-activity-list"></ul>-->
        <!--</div>-->
        <!--<div id="result-graph">这是折线图</div>-->
        <!--</div>-->
        {% raw %}
        <div class="layout-page project-activity-page">
            <div class="layout-page-side-outer project-activity-page-side-outer boxed-group">
                <ul class="project-activity-versions-list boxed-group-inner" style="padding-top: 52px;">
                    <li>
                        <div class="project-activity-version-badge first">
                            <span class="badge">no</span>
                        </div>
                        <ul class="project-activity-days-list">
                            <li class="project-activity-day" :data-day="d.date" v-for="d in list">
                                <div class="project-activity-date">
                                    <span>{{d.date}}</span>
                                </div>
                                <ul class="project-activity-analyses-list">
                                    <li class="project-activity-analysis clearfix" :data-date="result.create_time.$date" role="listitem" tabindex="0" v-for="result in d.results">
                                        <div class="project-activity-time spacer-right">
                                            <time class="text-middle" datetime="2018-07-25T08:13:42.000Z">
                                                {{getTime(result.create_time.$date)}}
                                            </time>
                                        </div>
                                        <div class="project-activity-events">
                                            <div class="project-activity-event">
                                                <div class="project-activity-event-inner">
                                                    <div class="project-activity-event-inner-icon little-spacer-right">
                                                        <svg class="project-activity-event-icon margin-align VERSION" width="14" height="14" viewBox="0 0 16 16" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xml:space="preserve">
                                                            <path d="M8 2 L14 8 L8 14 L2 8 L8 2 L14 8" style="fill: rgb(255, 255, 255); stroke: currentcolor; stroke-width: 2px;"></path>
                                                        </svg>
                                                    </div>
                                                    <span class="project-activity-event-inner-text">
                                                        <span class="note">Version:</span>
                                                        <strong>{{result.version}}</strong>
                                                    </span>
                                                </div>
                                                <div class="project-activity-event-actions spacer-left">
                                                    <button class="button js-change-event button-small button-icon" type="button" style="color: rgb(35, 106, 151);">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                                            <path d="M4.875 12.986l.721-.72-1.861-1.862-.721.72v.848h1.014v1.014h.847zm4.143-7.35c0-.117-.058-.175-.174-.175a.183.183 0 0 0-.135.056L4.416 9.81a.183.183 0 0 0-.056.135c0 .116.058.174.175.174a.183.183 0 0 0 .134-.056L8.962 5.77a.183.183 0 0 0 .056-.134zM8.59 4.115l3.295 3.295L5.295 14H2v-3.295l6.59-6.59zm5.41.76a.97.97 0 0 1-.293.713l-1.315 1.315-3.295-3.295L10.412 2.3c.19-.2.428-.301.713-.301.28 0 .52.1.72.301l1.862 1.853c.195.206.293.447.293.721z"
                                                                style="fill: currentcolor;"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="project-activity-layout-page-main">
                <div class="project-activity-layout-page-main-inner boxed-group boxed-group-inner">
                    <header class="page-header">
                        <div class="Select pull-left input-medium Select--single has-value">
                            <div class="Select-control">
                                <span class="Select-multi-value-wrapper" id="react-select-17--value">
                                    <div class="Select-value">
                                        <span class="Select-value-label" role="option" aria-selected="true" id="react-select-17--value-item">Issues</span>
                                    </div>
                                    <div role="combobox" aria-expanded="false" aria-owns="" aria-activedescendant="react-select-17--value" class="Select-input"
                                        tabindex="0" aria-readonly="false" style="border: 0px; width: 1px; display: inline-block;"></div>
                                </span>
                                <span class="Select-arrow-zone">
                                    <span class="Select-arrow"></span>
                                </span>
                            </div>
                        </div>
                    </header>
                    <div class="project-activity-graphs" style="height: 600px;">

                    </div>

                </div>
            </div>
        </div>

        {% endraw %} {% endblock %}
    </div>

    {% block sctipt %}
    <script>

        $(function () {
            $.get('/api/test-result?pro_id={{ id }}', function (res) {
                if (!res) { return alert('异常') }
                var RawData = JSON.parse(JSON.stringify(res));
                var datetime = new Date(res.data.results[0].create_time.$date);
                var max_date = datetime.getFullYear().toString() + "-" + (datetime.getMonth() + 1).toString() + "-" + datetime.getDate().toString();
                var data_group = {
                    results: [res.data.results[0]],
                    date: max_date
                }
                for (var i = 1, len = res.data.results.length; i < len; i++) {
                    var item = res.data.results[i];
                    var datetime = new Date(item.create_time.$date);
                    var date = datetime.getFullYear().toString() + "-" + (datetime.getMonth() + 1).toString() + "-" + datetime.getDate().toString();
                    if (date < data_group['date']) {
                        app.list.push(data_group);
                        var data_group = {
                            results: [item],
                            date: date
                        }
                        if (i == len - 1) {
                            app.list.push(data_group);
                            break;
                        }
                        continue;
                    }
                    data_group.results.push(item);
                }

                showChart(document.querySelector('.project-activity-graphs'),
                    [['success', '成功'], ['failures', '失败'], ['errors', '错误']]
                        .reduce((a, b) => (a[b[1]] = RawData.data.results.map(x => x[b[0]]), a), {}))

            })
        });
        var app = new Vue({
            data: {
                list: [],
                //dates:[]
            }
        });
        app.$mount('.project-activity-page')

        function getTime(ts) {
            var date = new Date(ts);
            var h = date.getHours();
            var m = date.getMinutes();
            return (h.toString() + ":" + m.toString());
        }

    </script> {% endblock %}
</body>

</html>