{% extends "base.html" %}

<head>
    {% block title %}Project{% endblock %}

    {% block static %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<body>
<div>
    {% block content %}
    {% raw %}
    <div class="layout-page project-activity-page">
        <div class="project-activity-page-side-outer boxed-group">
            <ul class="project-activity-versions-list boxed-group-inner" style="padding-top: 52px;">
                <li>
                    <div class="project-activity-version-badge first">
                        <span class="badge">no</span>
                        <select v-model="tag" @change="changeTag">
                            <option v-for="x in tags" :value="x">{{x||'-- 全部 --'}}</option>
                        </select>
                    </div>

                    <ul class="project-activity-days-list">
                        <li class="project-activity-day" :data-day="d.date" v-for="d in list">
                            <div class="project-activity-date">
                                <span>{{d.date}}</span>
                            </div>
                            <ul class="project-activity-analyses-list">
                                <li class="project-activity-analysis" :data-date="result.create_time.$date"
                                    v-for="result in d.results"
                                    @click="getResultDetail(result.was_successful, result._id.$oid)">
                                    <div class="project-activity-time">
                                        <time class="text-middle" datetime="2018-07-25T08:13:42.000Z">
                                            {{getTime(result.create_time.$date)}}
                                        </time>
                                    </div>
                                    <div class="project-list-items">
                                        <div class="project-list-items">

                                            <svg class="project-list-icon" width="14" height="14" viewBox="0 0 16 16">
                                                <path d="M8 2 L14 8 L8 14 L2 8 L8 2 L14 8"
                                                      style="fill: rgb(255, 255, 255); stroke: currentcolor; stroke-width: 2px;"></path>
                                            </svg>
                                            <span class="note">Version:</span>
                                            <strong>{{result.version}}</strong>
                                        </div>
                                        <button class="button js-change-event button-small button-icon"
                                                type="button" style="color: rgb(35, 106, 151);">
                                            <svg width="16" height="16" viewBox="0 0 16 16">
                                                <path d="M4.875 12.986l.721-.72-1.861-1.862-.721.72v.848h1.014v1.014h.847zm4.143-7.35c0-.117-.058-.175-.174-.175a.183.183 0 0 0-.135.056L4.416 9.81a.183.183 0 0 0-.056.135c0 .116.058.174.175.174a.183.183 0 0 0 .134-.056L8.962 5.77a.183.183 0 0 0 .056-.134zM8.59 4.115l3.295 3.295L5.295 14H2v-3.295l6.59-6.59zm5.41.76a.97.97 0 0 1-.293.713l-1.315 1.315-3.295-3.295L10.412 2.3c.19-.2.428-.301.713-.301.28 0 .52.1.72.301l1.862 1.853c.195.206.293.447.293.721z"
                                                      style="fill: currentcolor;"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="project-activity-layout-page-main">
            <div class="project-activity-layout-page-main-inner boxed-group boxed-group-inner">
                <div class="project-activity-graphs" style="height: 600px;">

                </div>
            </div>

        </div>

        <div class="project-activity-page-side-outer boxed-group">
            <ul class="project-activity-versions-list boxed-group-inner" style="padding-top: 52px;">
                <li>
                    <div class="project-activity-version-badge">
                        <label>Access Token：</label>
                        <input type="password" name="password"/>
                        <button id="copy_button">复制</button>
                        <button id="update_button">更新</button>
                    </div>
                </li>
                <li>
                    <!--<div class="boxed-group project-traceback-list">-->
                        <div class="panel-group project-traceback-list" id="accordion">
                            <div class="panel panel-default" v-for="(x, index) in tracebacks">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           :href="'#collapse'+index">
                                            {{x.test_case}}
                                        </a>
                                    </h4>
                                </div>
                                <div :id="'collapse'+index" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{x.note}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
</div>

{% endraw %} {% endblock %}
</div>

{% block sctipt %}
<script>
        var app = new Vue({
            data: {
                pro_id: '{{ id }}',
                list: [],
                tags: [''],
                tag: '',
                tracebacks: []
                //dates:[]
            },
            methods: {
                changeTag() {
                    this.getResult()
                },
                getResult() {
                    var vm = this, pro_id = vm.pro_id, tag = vm.tag,
                        qs = ['pro_id=' + pro_id];
                    if (tag) { qs.push('tag=' + tag) }
                    $.get('/api/test-result?' + qs.join('&'), function (res) {
                        if (!res) { return alert('异常') }
                        var RawData = JSON.parse(JSON.stringify(res));
                        var datetime = new Date(res.data.results[0].create_time.$date);
                        var max_date = datetime.getFullYear().toString() + "-" + (datetime.getMonth() + 1).toString() + "-" + datetime.getDate().toString();
                        var data_group = {
                            results: [res.data.results[0]],
                            date: max_date
                        }
                        var list = [];
                        console.info(res.data.results);
                        for (var i = 1, len = res.data.results.length; i < len; i++) {
                            var item = res.data.results[i];
                            var datetime = new Date(item.create_time.$date);
                            var date = datetime.getFullYear().toString() + "-" + (datetime.getMonth() + 1).toString() + "-" + datetime.getDate().toString();
                            if (date < data_group['date']) {
                                list.push(data_group);
                                var data_group = {
                                    results: [item],
                                    date: date
                                }
                                if (i == len - 1) {
                                    list.push(data_group);
                                    break;
                                }
                                continue;
                            }
                            data_group.results.push(item);
                        }
                        vm.list = list;
                        console.info(list);
                        showChart(document.querySelector('.project-activity-graphs'),
                            [['success', '成功'], ['failures', '失败'], ['errors', '错误']]
                                .reduce((a, b) => (a[b[1]] = RawData.data.results.map(x => x[b[0]]), a), {}))
                    });
                },
                getTags() {
                    var vm = this, pro_id = vm.pro_id;
                    $.get('/api/project/get-tags?id=' + pro_id, function (res) {
                        if (!res || !res.data) { return alert('异常') }
                        vm.tags = vm.tags.concat(res.data)
                    })
                },
                getResultDetail(was_successful, id) {
                    var vm = this;
                    if (!was_successful){
                        $.get('/api/test-result?id=' + id, function (res) {
                            if (!res || !res.data) { return alert('异常') }
                            vm.tracebacks = res.data.details;
                            console.info(vm.tracebacks);
                        })
                    } else {
                        vm.tracebacks = [];
                    }
                }
            },
            created: function () {
                this.getTags()
                this.getResult()
            }
        });
        app.$mount('.project-activity-page')

        function getTime(ts) {
            var date = new Date(ts);
            var h = date.getHours();
            var m = date.getMinutes();
            return (h.toString() + ":" + m.toString());
        }


</script>
{% endblock %}
</body>

</html>